.App {
  background-color: bisque;
  color: white;
  min-height: 100vh;
  overflow: hidden;
}

.container-catalog{
  display: flex;
  min-height: 100vh;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.container{
  max-width: 1380px;
  margin: 0 auto;
  padding: 20px;
  height: 100%;
}

.container__column {
	padding: 0px 20px;
  flex: 0 1 40%;
}

.column-right{
  flex: 0 1 60%;
}

.column-right__header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 10px 0;
}

.header__button {
  padding: 5px;
  border-radius: 5px;
  background-color: rgb(208, 117, 53);
  color: white;
  box-shadow:  2px 2px 8px black;
  border: none;
  font-size: 18px;
}

@media (min-width: 1025px) and (max-width: 1315px){
  .header__button{
      font-size: 16px;
      margin: 0 auto;
  }

  .column-right__header{
    flex-flow: wrap-reverse;
    align-items: center;
    gap: 10px;
  }
}

.header__button:hover{
  background-color: chocolate;
  transition: 0.5s;
  box-shadow:  3px 2px 3px black;
}

.reset{
  font-size: 14px;
  background-color: rgba(210, 105, 30, 0.484);
}

.header__sort-container{
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(128, 84, 52, 0.601);
  padding-right: 10px;
}

.sort-menu{
  display: flex;
  padding: 5px;
}

.sort-link{
  text-decoration: none;
  color: rgb(76, 48, 28);
}

.sort-link:hover{
  color: chocolate;
}

.sort-item{
  list-style-type: none;
  padding-right: 10px;
}

@media (max-width: 1115px){
  .container-catalog{  
    flex-direction: column;
    align-items: stretch;
  }
  .container__column {
    padding: 0;
  }
}

@media (max-width: 760px) {

  .shelfs__sort-container{
    text-align: center;
  }
}

@media (max-width: 530px) {

  .header__button {
    font-size: 14px;
  }

  .shelfs__sort-container{
    text-align: center;
  }
}

